/* This CSS file will need to be added to the styling of 
your web pages for the styles to be rendered. */

body {
background-color: #333;
color: white;
}

a {
    color: #ffc107;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
  background-color: #333;
  background-image: url("/static/img/karl-chor-UvWlksgZGPE-unsplash.jpg");
  background-size: cover;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}

.lead {
 font-family: 'Montserrat', sans-serif;
 color: #dc7fff;
 font-weight: 900 !important;
 font-style:italic !important;
}
