{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link href="static/css/styles.css" rel="stylesheet" />
{% endblock %}

{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

    <table class="table">

     <thead>
        {% for data in all_cafe_data: %}
        <tr>

            <td scope="col">{{ data.coffeeshop }}</td>

            <td scope="col"><a href="{{ data.location }}">Maps Link</a></td>

            <td scope="col">{{ data.open }}</td>

            <td scope="col">{{ data.close }}</td>

            <td scope="col">{{ data.coffee }}</td>

            <td scope="col">{{ data.wifi }}</td>

            <td scope="col">{{ data.power }}</td>

        </tr>
        {% endfor %}
     </thead>

    </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
